h1 {
	font-family: Futura, Helvetica, sans-serif;
	text-align: center;
	color: #4F4F4F;
	padding-top: 5%;
}

img {
	display: block;
	height: 100px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 3%;
}

#nav ul {
	text-transform: uppercase;
	text-align: center;
	font-family: Lato;
	font-size: 10px;
	list-style-type: none;
}

#nav a {
	text-decoration: none;
}


#nav ul li {
	display: inline;
	padding: 3%;
	/**padding: 3px 15px 2px;**/
	color: #4F4F4F;
}